{{> head}}
<body>
  <div class="container-fluid">
    <h1>My Delicious Workouts</h1>  
    
    <div class="bd-example bd-example-row">      
        <div class="row">
          <div class="col-sm">
            <a href="/workout/monday">MONDAY</a>
          </div>
          <div class="col-sm">
            TUESDAY
          </div>
          <div class="col-sm">
            WEDNESDAY
          </div>
          <div class="col-sm">
            THURSDAY
          </div>
          <div class="col-sm">
            FRIDAY
          </div>
          <div class="col-sm">
            SATURDAY
          </div>
          <div class="col-sm">
            SUNDAY
          </div>
        </div>
    </div>
  </div>
  
{{> footer}}